.best-services-main-parent {
    background: #000C14;
padding-top: 100px;
    .best-services-parent {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;

        .services-detail {
            .sidebar {
                position: relative;
                z-index: 1;
                right: 2rem;
                height: 100%;
            }

            .sidebar.fixed {
                position: sticky;
                top: 6%;
                margin-top: 3rem;
            }

            h1 {
                margin: 0;
                color: white;
                font-size: 38px;
            }

            .second {
                color: #00FBF4;
            }

            p {
                font-family: sans-serif;
                color: #707775;
                margin-top: 30px;
                width: 80%;

            }

            .all-service {
                fill: #FFFFFF;
                color: #FFFFFF;
                background-color: #FFFFFF00;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #2edaf1;
                border-radius: 50px 50px 50px 50px;
                box-shadow: 0px 0px 24px 0px rgba(45.99999999999999, 217.9999999999999, 240.99999999999997, 0.49) inset;
                padding: 18px 32px 18px 32px;
                cursor: pointer;
                margin-top: 20px;
            }
        }

        .service-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;

            .services-img {

                position: relative;
                border-radius: 8px;
                box-sizing: border-box;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: 500px;
                    object-fit: cover;
                    opacity: 0.7;
                }

                .content {
                    position: absolute;
                    top: 0;
                    background: radial-gradient(at top center, #7BDFFF52 4%, #03222CF7 100%);

                    height: 100%;
                    width: 100%;
                    right: 0;
                    transition: 1s;
                    cursor: pointer;

                    .text {
                        margin-left: 20px;
                        margin-top: 380px;

                        h1 {
                            color: white;
                            width: 100% !important;

                            font-size: 25px;

                        }

                        p {
                            font-family: sans-serif;
                            width: 80%;
                            color: whitesmoke;

                        }
                    }
                }

            }

        }

        .services-img:hover .content .text {}
    }
}