@import './media.scss';
.choose-parent{
    width: 90%;
    margin: auto;
    .title{
        h1{
            font-weight: bolder;
            color: white;
            word-spacing: 8px;
            letter-spacing: 1px;
            font-size: 45px;
            margin: 0;
            text-align: center;
            @include lg{
                text-align: center;
                font-size: 35px;
            }
            span{
    color: rgb(46, 218, 241);
        }
    }
        p{
            line-height: 25px;
            font-family: sans-serif;
            margin-top: 10px;
            width: 40%;
            color: #555D62;
            text-align: center;
            margin: 10px auto 0 auto ;
        @include lg{
            width: 100%;
            text-align: center;
        }
        }
    }
    .card-parent{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        gap: 20px;
        width: 100%;
        max-width: 1300px;
        margin: auto;
        padding-top: 80px;
        @include lg{
            grid-template-columns: 1fr ;
        }
        .card{
            text-align: left;
            background-color: transparent;
            background-image: radial-gradient(at top right, #00E1FF24 0%, #01141D 50%);
         
    padding: 40px 0px 40px 25px;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #FFFFFF29;
            border-radius: 10px 10px 10px 10px;
           
            .icon{
                background: #2EDAF1;
                height: 60px;
                width: 60px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    font-size: 30px;
                    color: #000000c7;
                }
            }
            .text{
                padding: 10px;
                h1{
                    color: white;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                p{
                    font-family: sans-serif;
                    color: #555D62;
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
    }
}