@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import './media.scss';
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
    background: #000C14;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(204, 204, 204);

}

.navbar-parent {
    background: #000C14;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    // position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 10px 0;
    @include lg{
        padding: 0;
    }
    @include tablet{
        padding: 0 !important;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* height: 10vh; */
        width: 90%;
        margin: auto;
        /* height: 0; */
        padding: 40px 0;
        height: 0;
    }

    .nav__brand {
        text-transform: uppercase;

       .logo{
        width: 75%;
        margin-top: 10px;
        @include tablet{
            width: 60%;
        }
       }
    }

    .nav__menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
        margin-right: 20px;

        li {
            font-weight: bolder;
        }
        .active{
            color: #009697;
        }
    }

    .nav__toggler {
        display: none;
    }

    .nav__toggler div {
        width: 2.5rem;
        height: 0.2rem;
        margin: 0.4rem;
        background: rgb(204, 204, 204);
        transition: 0.3s ease-in;
    }

  @include lg {
        .nav__toggler {
            display: block;
            cursor: pointer;
        }

        .nav__menu {
            position: fixed;
            top: -2.7vh;
            right: -51px;
            height: 100vh;
            width: 109vw;
            background: rgba(2, 28, 36, 0.631372549);
            flex-direction: column;
            transform: translateX(100%);
            transition: 0.5s ease-in;
        }
       
            .logo{
                width: 60%;
                margin-top: 10px;
                margin-left: -30px;
               }
           
    }
    @include sm5{
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* height: 10vh; */
            width: 90%;
            margin: auto;
            /* height: 0; */
            padding: 25px 0;
            height: 0;
        }
    }
    @include sm4{
        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* height: 10vh; */
            width: 90%;
            margin: auto;
            /* height: 0; */
            padding: 25px 0;
            height: 0;
        }
    }
@include sm3{
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* height: 10vh; */
        width: 90%;
        margin: auto;
        /* height: 0; */
        padding: 30px 0;
        height: 0;
    }
    .logo{
        width: 60%;
        margin-top: 10px;
        margin-left: -20px;
       }
}
    /* Active Class */
    .nav__active {
        transform: translateX(0%);
    }

    /* Toggle Icon Animation */

    .toggle .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-4px, -5px);
    }

}